body {
    background-color: #c7d9eb;
  }

img {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray;
   transition: 0.5s ease-in-out;
   box-shadow: 7px 7px 28px -1px rgba(0,0,0,0.75);
}

img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
   cursor: pointer;
}

.img-with-text {
    text-align: justify;
    width: 380px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 500%;
    padding-left: 100px
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
    font-weight: 1000;
}

p {
    font-family: 'Frank Ruhl Libre', sans-serif;
}
