html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#3E3A39;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:2px;
  padding:0px 15px 15px 15px;
  color:#3E3A39;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.5em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:8px 0 8px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}

ul {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 95px;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
}

header {
   padding-bottom: 10px;
}

body {
   padding-bottom: 30px;   /* Height of the footer */
   color: #FFF;
}

.footer {
   font-family: 'courier';
   text-align: center;
   padding-top: 15px;
   bottom: 0;
   width: 100%;
   height: 30px;   /* Height of the footer */
   background: #7F8C8D
}

.vignette {
  background-color: #888888;
  background: rgba(15,15,15,0.3);
  padding-bottom: 7px;
  padding-left: 0;
  padding-right: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

ul li a {
    text-decoration: none;
    padding: 10px 1px;
    padding-left: 5px;
    padding-bottom: 10px;
}

p {
  font-family: 'courier';
  padding-left: 60px;
  line-height: 30px;
}

.backgroundimage {
  background: url(1.png) fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:100%;
}

.projects {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray;
   transition: 0.5s ease-in-out;
   box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
   -webkit-overflow-scrolling: touch;
   -webkit-overflow-scrolling: auto;
}

.projects:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
   cursor: pointer;
   -webkit-overflow-scrolling: touch;
   -webkit-overflow-scrolling: auto;
}

.img-with-text {
    padding-left: 4%;
    text-align: center;
    display: inline-block;
    width: 85%;
}

.img-with-text img {
    display: inline-block;
    margin: 0 auto;
    border: 3px solid;
    color: grey;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 500%;
    padding-left: 100px;
    line-height: 20px;
    color: #2B426B;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
    -webkit-overflow-scrolling: touch;
    text-decoration: none;
    display: table-cell;
}

a {
  color:inherit;
  text-decoration: none;
 }

a:hover {
opacity: 0.8;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


h1:hover {
    color: #FCB332;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 25px;
    color: black;
    text-align: left;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 10%;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  flex: 1;
  padding-top: 70px;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.right-half {
  flex: 1;
  padding-right: 20px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#social {
  padding-right: 670px;
  padding-left: 15px;
  padding-bottom: 0%;
  padding-top: 0px;
  display: flex;
}

#socialicons:hover {
    opacity: .8;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

/* mobile */
@media all and (max-width: 768px) {

  .img-with-text {
      padding-left: 0px;
      width: 100%;
  }

  .left-half {
    padding: 5%;
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
    padding-left: 0;
    text-align: center;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 50px;
  }

  .container {
    flex-direction: column;
  }

  .right-half {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding: 0px;
    padding-top: 0px;
    justify-content: center;
  }

  #social {
    display: none;
  }

  #socialicons {
    width: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .projects {
     -webkit-filter: none;
     -moz-filter: none;
     -ms-filter: none;
     filter: none;
     cursor: pointer;
  }

  html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
  padding-top: 10px;
}

  h1{
    text-align: center;
    padding-right: 20%;
    font-size: 400%;
    line-height: 100%;
    margin-bottom: 0px;
    padding-top: 10px;
  }

  .vignette {
  padding-left: 1.5px;
  padding-right: 1.5px;
  padding-top: 0px;
  text-align: center;
}

pre {
  display: none;
}

h2 {
  width: 90%;
  padding-left: 5%;
  font-size: 95%;
  padding-right: 10%;
  overflow: hidden;
  text-align: justify;
}

h3 {
  padding-left: 5%;
  font-size: 80%;
}

p {
  font-size: 75%;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.backgroundimage {
  background: url(1.png) fixed;
  background-position: left left;
  background-attachment: initial;
  }

}



@media all and (min-width: 769px) {

.menu {
  display:none;
}

.hamburger {
  display: none;
}

.cross {
  display: none;
}

}
