path:hover{
fill: #a6bddb;
}

.tooltip {
	font-size: 10px;
	left: 130px;
	padding: 10px;
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Roboto", sans-serif;
	top: 95px;
	z-index: 10;
	display: block;
	opacity: 0;
}

.title{
font-size:20px;
}
